{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
	<section>
		<div class="container">
			<div class="alert alert-success">
			    Félicitations {{ user.firstName }}, votre compte est maintenant activé.
			</div>
		</div>
	</section>
{% endblock fos_user_content %}
