{% extends "@FOSUser/layout.html.twig" %}
{% block title %}
    S'enregistrer
{% endblock %}
{% block fos_user_content %}
	<div class="container">
		<h1>Formulaire d'inscription</h1>
		{% include "@FOSUser/Registration/register_content.html.twig" %}
	</div>
{% endblock fos_user_content %}
