{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register', novalidate: 'novalidate'}}) }}
    
    <div class="{% if not form.email.vars.valid %}has-error{% endif %}">
	    {{ form_label(form.email) }}
	    {{ form_widget(form.email) }}
	    {{ form_errors(form.email) }}
    </div>
    <div class="row">
	    <div class="col-sm-6 {% if not form.plainPassword.first.vars.valid %}has-error{% endif %}">
		    {{ form_label(form.plainPassword.first) }}
		    {{ form_widget(form.plainPassword.first) }}
		    {{ form_errors(form.plainPassword.first) }}
	    </div>
	    <div class="col-sm-6 {% if not form.plainPassword.second.vars.valid %}has-error{% endif %}">
		    {{ form_label(form.plainPassword.second) }}
		    {{ form_widget(form.plainPassword.second) }}
		    {{ form_errors(form.plainPassword.second) }}
	    </div>
    </div>

    <div class="row">
	    <div class="col-sm-6 {% if not form.firstName.vars.valid %}has-error{% endif %}">
		    {{ form_label(form.firstName) }}
		    {{ form_widget(form.firstName) }}
		    {{ form_errors(form.firstName) }}
	    </div>
	    <div class="col-sm-6 {% if not form.lastName.vars.valid %}has-error{% endif %}">
		    {{ form_label(form.lastName) }}
		    {{ form_widget(form.lastName) }}
		    {{ form_errors(form.lastName) }}
	    </div>
    </div>

    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" class="btn btn-primary" />
    </div>
{{ form_end(form) }}