{% if pageCount > 1 %}
    <ul class="pagination">
    {% if first is defined and current != first %}
        <li class="first page-item"><a class="page-link" href="{{ path(route, query|merge({(pageParameterName): first})) }}">&lt;&lt;</a></li>
    {% endif %}

    {% if previous is defined %}
        <li class="previous"><a class="hidden-xs page-link" href="{{ path(route, query|merge({(pageParameterName): previous})) }}">&lt;</a></li>
    {% endif %}

    {% for page in pagesInRange %}
        {% if page != current %}
            <li class="page-item"><a href="{{ path(route, query|merge({(pageParameterName): page})) }}" class="page-link">{{ page }}</a></li>
        {% else %}
            <li class="current active page-item"><a class="page-link">{{ page }} <span class="sr-only">(current)</span></a></li>
        {% endif %}
    {% endfor %}

    {% if next is defined %}
        <li class="next"><a class="hidden-xs page-link" href="{{ path(route, query|merge({(pageParameterName): next})) }}">&gt;</a></li>
    {% endif %}

    {% if last is defined and current != last %}
        <li class="last"><a class="page-link" href="{{ path(route, query|merge({(pageParameterName): last})) }}">&gt;&gt;</a></li>
    {% endif %}
    </ul>
{% endif %}