{% extends "@FOSUser/layout.html.twig" %}
{% block title %}
    Se connecter
{% endblock %}
{% block fos_user_content %}
	<div class="container">
	    {{ include('@FOSUser/Security/login_content.html.twig') }}
	</div>
{% endblock fos_user_content %}