{% trans_default_domain 'FOSUserBundle' %}

<div style="text-align:center;">
	<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
	    <div style="margin: 0 auto; display: block; display: table; float: inherit;">
	        <label for="username">{{ 'resetting.request.username'|trans }}</label>
	        <input type="text" id="username" name="username" required="required" class="form-control" />
	    </div>
	    <div class="clear"></div>
	    <br>
	    <div>
	        <input type="submit" value="{{ 'resetting.request.submit'|trans }}"  class="btn btn-primary" />
	    </div>
	</form>
</div>
