{% extends '::base.html.twig' %}
{% block body %}
    <div class="container">
    	<h1>Nos évènements</h1>
    	<table class="table table-striped table-bordered">
    		<tbody>
    			{% for event in events %}
    			<tr>
    				<td>{{ event.name }}</td>
    				<td>{{ event.createdAt | date("d/m/Y")}}</td>
    				<td>
	    				<a href="{{ path("app_events_view", {id: event.id}) }}" class="btn btn-primary">
	    					Voir
	    				</a>
    				</td>
    			</tr>
    			{% endfor %}
    		</tbody>
    	</table>

        <div class="navigation">
            {{ knp_pagination_render(events) }}
        </div>
    </div>
{% endblock %}