{% extends '::base.html.twig' %}
{% block body %}
	
	<div class="container">
		<h1>Créer l'évènement</h1>

		{{ form_start(form, {attr:{novalidate: 'novalidate'}}) }}
			
			{{ form_label(form.name, "Nom") }}
			{{ form_widget(form.name) }}
			{{ form_errors(form.name) }}

			{{ form_label(form.description, "Description") }}
			{{ form_widget(form.description) }}
			{{ form_errors(form.description) }}

		{{ form_end(form) }}
	</div>
{% endblock %}