{% extends '::base.html.twig' %}
{% block body %}
	
	<div class="container">
		<h1>Créer l'évènement</h1>

		{{ form_start(form1, {attr:{novalidate: 'novalidate'}}) }}
			
			{{ form_label(form1.name, "Nom") }}
			{{ form_widget(form1.name) }}
			{{ form_errors(form1.name) }}

			{{ form_label(form1.description, "Description") }}
			{{ form_widget(form1.description) }}
			{{ form_errors(form1.description) }}

		{{ form_end(form1) }}

		<h1>Ajouter une image</h1>
		{{ form_start(form2, {attr:{novalidate: 'novalidate'}}) }}
		{{ form_end(form2) }}
	</div>
{% endblock %}